.place {
	display: grid;
	gap: 0 40px;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 80px;
	max-width: 984px;
	margin: auto;
}

.place:last-child {
	padding-bottom: 0;
}

@media (max-width: 1024px) {
	.place {
		gap: 0 32px;
	}
}

@media (max-width: 768px) {
	.place {
		gap: 0 28px;
	}
}

@media (max-width: 650px) {
	.place {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 320px) {
	.place {
		padding-bottom: 48px;
	}
}
